.Footer_container {
  margin-top: 45px;
  background-color: #fc8369;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  text-align: right;
  padding: 20px;
}

.Footer_container_1 {
  width: 45vw;
}

.Footer_container_1_header {
  font-family: "Rakkas", cursive;
}

.Footer_container_1_email_section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.Footer_container_1_phone_section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.Footer_container_2 {
  width: 45vw;
}

.Footer_container_2_header {
  font-family: "Rakkas", cursive;
}

.Footer_container_2_about_section {
}

.Footer_container_2_link_section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.Footer_section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background: white;
  padding: 20px;
  margin-right: 10vw;
  margin-left: 10vw;
  margin-bottom: 5vh;
  border-radius: 20px;
  box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.75);
}
