.Gallery_container {

}

.Gallery_container_header {
   text-align: right;
}

.Gallery_container_header_header {
    font-size: 1.4em;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 10vw;
}

.Gallery_container_header_message {
    margin-right: 10vw;
}
