.Gallery_container {

}

.Gallery_container_header {
    text-align: center;
}

.Gallery_container_header_header {
    font-size: 1.6em;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Rakkas', cursive;
}
